<h1>MY PHOTOS</h1>

<% if @photos.empty? %>
  <p> There are no photos! </p>
<% else %>
  <% @photos.each do |photo| %>
<p>
      <%= photo.title %>
      <img src='<%=photo.photo_url %>' width=400 height=300></img>
      <%= link_to 'edit_info', edit_photo_path(photo) %>
<%= link_to 'delete', photo_path(photo), method: :delete, data: {confirm: "Na pewno?"} %>
</p>
  <%end%>
<%end%>